*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 

 .header{
  background: linear-gradient(rgba(0, 0, 0, 0.450), rgba(0, 0, 0, 0.450)),url(images/logo\ background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 37px;
  text-align: center;
 }
 
.menu{
  padding: 39px;
  position: sticky;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid  rgb(231, 229, 229);
}
.menu nav{
float: right;
margin-top: -20px;
}

 
 .nav1 a{
  /* font-size: ;
  font-family: ; */
  text-decoration: none;
  padding: 10px 19.5px;
  color: rgb(34, 32, 32);
 }
 .nav1 a:hover{
  color: green;
 }
 .nav2{
display: flex;
flex-direction: column;
position: fixed;
right: 0px;
bottom: 145px;
top: 160px;
background-color: transparent;
box-shadow: 0px 0px 30px 12px rgba(80, 80, 80, 0.137);
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
background-color: white;
 }
.to-top{
  position: fixed;
  right: 2.4%;
  bottom: 28px;
  background-color: white;
  box-shadow: 0px 0px 30px 12px rgba(80, 80, 80, 0.137);
  border-radius: 5px;
  padding: 10px;
 }
.btn0{
    background-color: transparent;
    font-size: 20px;
    border: 0;
 }
 .nav2-top{
  display: flex;
 flex-direction: column;

 }
 .nav2-top a{
  text-decoration: none;
  color: rgb(61, 60, 60);
  font-size: 20px;
 }
 .nav2-top i{
  width: 100%;
 }
 .nav2 a:hover{
  text-decoration: none;
  color: purple;
 }
 .border{
  border-bottom: 1px solid grey;
 }
  .border, .fa-envelope{
  padding: 23px;
 }
 .icon{
  padding: 20px 0px;
  padding-left: 95px;
  margin-right: 130px;
 }
 .icon i{
  margin: 0;
  padding: 10px 13px;
 }
.container2{
  margin: 2.3% 13%;
}

 /* Section 1 */
 .section1{
   background-color:  rgba(236, 234, 234, 0.452);
   display: flex;
   justify-content: space-between;
   padding: 28px;

 }
 .readmore{
   background-color: rgba(0, 128, 0, 0.685);
   color: white;
   border-radius: 5px;
   padding: 10px 25px;
   border: 0;
   margin-right: 10px;
 }
 .readmore:hover{
  background-color: rgb(6, 180, 6);
 }
  .chev{
  background-color: rgb(255, 255, 255);
  color: grey;
  line-height: 2;
 }
 .chev2{
  display: flex;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(196, 194, 194);
  border-radius: 5px;
  padding: 4px 2px;
  color: grey;
  line-height: 2;
  box-shadow: 0px 0px 100px grey;
  width: fit-content;
 }
 .section1 div{
display: flex;
 }
 .section1 h2{
   background-color: white;
   padding: 1px 10px;
   margin-left: 10px;
   border-radius: 5px;
 }
 /* Section2 */

/* container3 */
 .container3{
  display: flex;
  gap: 4%;
  margin-top: 33px;
 }

 /* Section3 */
 .section3{
  width: 70%;
 }
 .lorem1{
  line-height: 20px;
 }
 .beauty a{
  background-color:  rgba(236, 234, 234, 0.452);;
  color: rgb(134, 134, 134);
  border-radius: 25px;
  padding: 5px 11px;
  font-size: small;
  text-decoration: none;
}
.topic, .read-more{
  text-decoration: none;
  color: black;
}
.beauty1 div h1:hover{
  color: rgb(0, 168, 235);
}
 .section3 p{
  font-size: 13px;
 }
 .section3 img{
  width: 100%;
 }
 hr{
  width: 48%;
  height: 0px;
  background-color:   rgb(236, 234, 234);
  margin-top: 8px;
  padding: 0.1px;
  border: 0;
 }
.socials{
  display: flex;
  justify-content: space-between;
}
.socials a{
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.socials button{
  padding: 15px;
  color:  rgb(85, 85, 85);
  background-color: white;
  border: 1px solid  rgb(231, 229, 229);
  border-radius: 10px;
  width: 48px;
  font-size: 17px;
  margin-top: -20px;
}
 .health{
  gap: 2%;
  margin-top: 30px;
  
 }

.load-more{
  border: 1px solid rgb(231, 230, 230);
  text-align: center;
  padding: 30px;
  font-size: 13px;
  margin-top: 75px;
  border-radius: 4px;
  box-shadow: 0px 0px 30px  rgb(218, 216, 216);
}

.load-more a{
  color: black;
  text-decoration: none;
}
 /* Section4 */
.section4{  
  width: 26.3%;
  position: sticky;
  z-index: -1;
  top: -1260px;
  height: 20%;
  padding-bottom: 30px;
}
 
.stay{
  display: flex;
  width: 100%;
 }
 .stay-connected{
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(88, 88, 88);
  width: 48%;
  color: rgb(88, 88, 88);
 }
 .empty1{
   border-bottom: 2px solid rgb(240, 240, 240);
   width: 52%;
 }

.socialmedia{
  padding: 6%;
}
.socialmedia i{
  padding: 9.8%;
  font-size: 30px;
}
.follow a{
  padding: 2% 5%;
  margin-left: 6%;
  text-decoration: none;
  color: rgb(44, 44, 44);
}
/* sarah */
.sarahhead{
  display: flex;
  margin-top: 50px;
  padding-bottom: 11%;
}
.sarahblackwing{
  width: 53.5%;
  padding: 5% 0%;
  border-bottom: 2px solid rgb(88, 88, 88);
  color: rgb(88, 88, 88);
}

.empty2{
  width: 46.5%;
  padding: 5% 0%;
  border-bottom: 2px solid rgb(240, 240, 240);
}
.sarahimg{
  width: 100%;
}
.sarah p{
  line-height: 185%;  
  padding-bottom: 13px;
}
.sarah .text{
  color: grey;
}
.learnmore{
  border-radius: 25px;
  padding: 10px 29px;
  background-color: rgb(102, 102, 102);
  color: white;
  border: 0;
  font-size: 13px;
}
.learnmore:hover{
  background-color: rgb(90, 90, 90);
}

/* news */
.newshead{
  display: flex;
  padding: 11% 0%;
}
.subscribe{
  width: 75%;
  padding: 5% 0%;
  color: rgb(88, 88, 88);
  border-bottom: 2px solid rgb(88, 88, 88);
}
.empty3{
  width: 25%;
  padding: 5% 0%;
  border-bottom: 2px solid rgb(240, 240, 240);
}

.news input{
  border: 0.1rem solid rgb(211, 210, 210);
  border-radius: 50px;
  padding: 20px;
  width: 100%;
}
.email{
  display: flex;
}


.send-icon{
  padding: 20px;
  position: absolute;
  right: 10px;
  top: 755px;
  background-color: transparent;
}
.news .text{
  color: rgb(212, 210, 210);
  padding-top: 20px;
}
/* mustread */
.mustreadhead{
  display: flex;
  padding-bottom: 7%;
  padding-top: 22%;
}
.mustreadhead h3{
  border-bottom: 2px solid rgb(88, 88, 88);
  padding-bottom: 5%;
  color: rgb(88, 88, 88);
}
.empty4{
  width: 64%;
  border-bottom: 2px solid rgb(240, 240, 240);
}
.btns{
  display: flex;
  margin-top: 10px;
}
.btn1, .btn3{
  width: 30px;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 10px;
  padding: 8px;
  background-color: transparent;
  color: grey;
}
.btn2, .btn4{
  width: 30px;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 10px;
  padding: 8px;
  background-color: transparent;
  color: grey;
}
.mustread2 img{
  width: 70px;
  height: 10vh;
}
.mustread2 p{
  font-size: small;
  color: rgb(88, 88, 88);
}
.house, .people, .spots{
  display: flex;
  padding: 10px 0px;
  border-bottom: 1px solid grey;
  gap: 10px;
  text-align: start;
  padding:10px 0px;
}
.animals{
  display: flex;
  padding: 10px 0px;
  gap: 10px;
  text-align: start;
  padding: 10px 0px;
}
/* modular */
.modular img{
  margin-top: 60px;
  width: 100%;
}


/* section5 */

 .section5{
  margin-top: 100px;
  margin-bottom: 95px;
  background-color: rgba(240, 240, 240, 0.377);
  padding-left: 90px;
  padding-right: 113px;
 }
 .like{
  padding-top: 105px;
  padding-bottom: 67px;
 }

 .section5flex{
  display: flex;
  gap: 2.5%;
 }
 .section5 h1{
  text-align: center;
 }

 .photo .pics, .buzzing .pics, .workspace .pics, .climb .pics{
  height: 30.7vh;
  margin-bottom: 11px;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .photo .pics{
  background-image: url(images/spot.jpg);
}
.buzzing .pics{
  background-image: url(images/people.jpg);
}
.workspace .pics{
  background-image: url(images/workspace.jpeg);
}
.climb .pics{
  background-image: url(images/climb.jpg);
}
 .pics-flex{
  padding-top: 155px;
  padding-left: 23px;
  gap: 2%;
 }


 .pics-flex b{
  background-color: #0000009d;
  color: white;
  border-radius: 25px;
  padding: 5px 14px;
  font-size: 11px;
 }
 .photo, .buzzing, .workspace, .climb{
  width: 25%;
 }
 .photo h3, .buzzing h3, .workspace h3, .climb h3{
  font-size: 16px;
 }

 .photo p, .buzzing p, .workspace p, .climb p{
  font-size: 13px;
 }

 /* footer */
 .section6{
  display: flex;
  padding: 60px 90px;
  gap: 3.5%;
  background: linear-gradient(rgba(0, 0, 0, 0.450), rgba(0, 0, 0, 0.450)),url(images/logo\ background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
 }

.fut{
  width: 33.33%;
}
 /* about */

  .about{
  margin-bottom: 12px;
}
.text2{
font-size: 14px;
line-height: 24px;
width: 90%;
color: rgb(224, 221, 221);
}
.abouthead{
  display: flex;
  margin-bottom: 20px;
  
}
.abouthead h3{
  width: 40%;
  padding: 5% 0%;
  border-bottom: 2px solid white;
  font-size: 16px;
  color: white;
}
.empty5{
  width: 60%;
  border-bottom: 2px solid grey;
}

.btn5{
  font-size: 15px;
  margin-top: 30px;
  color: white;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
}


.subscribehead{
  display: flex;
  margin-bottom: 30px;  
}


.empty6{
  width: 50%;
  border-bottom: 2px solid grey;
}

 .subscribehead h3{
  font-size: 16px;
  width: 50%;
  padding: 5% 0%;
  border-bottom: 2px solid white;
  color: white;
 }
 .email2 input{
  border: 0;
  border-radius: 50px;
  padding: 20px;
  width: 100%;
}

.send-icon2{
  padding: 20px;
  position: absolute;
  right: 500px;
  bottom: -4570px;
}

.text3{
  margin-top: 20px;
  font-size: 13px;
  color: white;
}

 /* contact */
 
 .contacthead h3{
  color: white;
  font-size: 16px;
  width: 50%;
  padding: 5% 0%;
  border-bottom: 2px solid white;
 }
 .empty7{
  width: 50%;
  padding: 5% 0%;
  border-bottom: 2px solid grey;
}
 .contacthead{
  display: flex;
  margin-bottom: 20px;
}
.text4{
  margin-left: -15px;
}
 .text4 i{
  padding: 10px 14px;
  font-size: 20px;
  color: white;
 }