@media (max-width: 1366px) {
    .socialmedia i{
        padding: 9.7%;
        font-size: 30px;
      }
      .send-icon{
        top: 755px;
      }
}

@media (max-width: 1361px) {
    .send-icon{
        top: 775px;
      }
}

@media (max-width: 1359px) {
.send-icon2{
    bottom: -4560px;
  }
}
@media (max-width: 1352px) {
    .send-icon{
        top: 775px;
      }
      .send-icon2{
        bottom: -4545px;
      }
}

@media (max-width: 1350px) {
    
    .send-icon{
        top: 795px;
      }
      .send-icon2{
        bottom: -4536px;
      }
}


@media (max-width: 1342px) {
    .container2{
        margin: 2.13% 12%;
    }
    
    .section5{
        padding-left: 70px;
        padding-right: 100px;
    }
    .send-icon{
        top: 760px;
      }
      .send-icon2{
        bottom: -4590px;
      }
}

@media (max-width: 1332px) {
  .nav1 a{
    padding: 10px 10px;
   }
   .send-icon{
    top: 775px;
  }
    .container2{
        margin: 2.13% 10%;
    }
    
    .section5{
        padding-left: 58px;
        padding-right: 70px;
    }
}
@media (max-width: 1324px) {
    
    .send-icon2{
        bottom: -4580px;
      }
}

@media (max-width: 1318px) {
    
    .send-icon2{
        bottom: -4560px;
      }
}
@media (max-width: 1310px) {
    
    .send-icon{
        top: 770px;
      }
      .send-icon2{
        bottom: -4550px;
      }
}

@media (max-width: 1305px) {
    
    .send-icon{
        top: 770px;
      }
      .send-icon2{
        bottom: -4640px;
      }
}
@media (max-width: 1289px) {
    
    .send-icon{
        top: 765px;
      }
      .send-icon2{
        bottom: -4628px;
      }
}

@media (max-width: 1281px) {
    
    .send-icon{
        top: 765px;
      }
      .send-icon2{
        bottom: -4608px;
      }
}

@media (max-width: 1275px) {
    
    .section5{
        padding-left: 40px;
        padding-right: 60px;
    }
    .send-icon{
        top: 755px;
      }
      .send-icon2{
        bottom: -4580px;
      }
}

@media (max-width: 1269px) {
    .container2{
        margin: 2.13% 10%;
    }
    
    .send-icon2{
        bottom: -4560px;
      }
    .icon{
        padding-left: 80px;
       }
    .stay-connected{
        width: 49%;
    }
    .empty1{
        width: 51%;
    }
    .subscribe{
        width: 76%;
    }
    .empty3{
        width: 24%;
    }
    .mustreadhead h3{
       width:40 ;
    }
    .empty4{
       width: 60%;
    }
    .section5{
        padding-left: 140px;
        padding-right: 150px;
    }
}


@media (max-width: 1242px) {
  
    
    .send-icon2{
        right: 470px;
        bottom: -4530px;
      }
    .send-icon{
        top: 745px;
      }
    .socialmedia i{
        padding: 9.4%;
      }
    .stay-connected{
        width: 51%;
    }
    .empty1{
        width: 49%;
    }
    .sarahblackwing{
        width: 55%;
    }  
    .empty2{
        width: 45%;
    }
    .subscribe{
        width: 78%;
    }
    .empty3{
        width: 22%;
    }
    .section5{
        padding-left: 10%;
        padding-right: 150px;
    }
}

@media (max-width: 1235px) {
    
    .send-icon{
        top: 775px;
      }
}

@media (max-width: 1230px) {
    
    .send-icon2{
        right: 470px;
        bottom: -4510px;
      }
}

@media (max-width: 1220px) {
    .send-icon2{
        right: 470px;
        bottom: -4490px;
      }
}

@media (max-width: 1217px) {
    
    .send-icon{
        top: 765px;
      }
}
@media (max-width: 1211px) {
    .send-icon2{
        right: 470px;
        bottom: -4470px;
      }
}

@media (max-width: 1202px) {
    .container2{
        margin: 2.13% 8.5%;
    }
    
    .send-icon{
        top: 745px;
      }
      .send-icon2{
        right: 470px;
        bottom: -4547px;
      }
    .icon{
        padding-left: 95px;
        margin-right: 100px;
       }
    .socialmedia i{
        padding: 9.3%;
      }
    .stay-connected{
        width: 52%;
    }
    .empty1{
        width: 48%;
    }
    .sarahblackwing{
        width: 58%;
    }
      
    .empty2{
        width: 42%;
    }
    .subscribe{
        width: 82%;
    }
    .empty3{
        width: 18%;
    }
    .section5{
        padding-left: 9%;
        padding-right: 11%;
    }
}


@media (max-width: 1191px) {
    
   .send-icon{
        top: 770px;
    }
}
@media (max-width: 1189px) {
    
    .send-icon2{
        right: 470px;
        bottom: -4520px;
      }
}

@media (max-width: 1166px) {
    
   .send-icon{
        top: 760px;
    }
    .send-icon2{
        right: 470px;
        bottom: -4480px;
      }
}

@media (max-width: 1132px) {
  
    
    .socialmedia i{
        padding: 9.2%;
      }
      .send-icon{
        top: 748px;
    }
    .send-icon2{
        right: 470px;
        bottom: -4420px;
      }
}



@media (max-width: 1127px) {
    .container2{
        margin: 2.13% 8%;
    }
    
    .icon{
        padding-left: 65px;
        margin-right: 80px;
       }
    .socialmedia i{
        padding: 9%;
      }
    .stay-connected{
        width: 54%;
    }
    .empty1{
        width: 46%;
    }
    .sarahblackwing{
        width: 60%;
    }
      
    .empty2{
        width: 40%;
    }
    .subscribe{
        width: 84%;
    }
    .empty3{
        width: 16%;
    }
    .section5{
        padding-left: 7%;
        padding-right: 9%;
    }
}

@media (max-width: 1099px) {
    
    .send-icon2{
        right: 470px;
        bottom: -4590px;
      }
}
@media (max-width: 1087px) {
  
      .send-icon{
        top: 735px;
    }
    .mustreadhead h3{
       width: 42%;
      }
      .empty4{
        width: 58%;
        border-bottom: 2px solid rgb(240, 240, 240);
      }
}


@media (max-width: 1080px) {
    .container2{
        margin: 2.13% 5%;
    }
    .send-icon{
        top: 760px;
    }
    .icon{
        padding-left: 40px;
       }
    .subscribe{
        width: 80%;
    }
    .empty3{
        width: 20%;
    }
    .section5{
        padding-left: 3%;
        padding-right: 5%;
    }
}


@media (max-width: 1048px) {
    .container2{
        margin: 2.13% 3%;
    }
    .send-icon{
        top: 765px;
    }
    .send-icon2{
        display: none;
      }
    .icon{
        padding-left: 90px;
        margin-right: 30px;
    }
    .pics-flex b{
        padding: 5px 14px;
        font-size: 11px;
    }
    .pics-flex{
        padding-left: 18px;
    }
}

  
@media (max-width: 1025px) {
    .header{
        padding: 23px;
    }
    .menu{
      display: none;
    }
    .container3{
        flex-direction: column;
        gap: 0;
    }
    .container2{
        margin: 3%;

    }
    .section5flex{
        gap: 2.5%;
        flex-wrap: wrap;
    }
    .photo, .buzzing, .workspace, .climb{
        width: 48%;
        margin-top: 20px;
    }
    .pics-flex b{
        padding: 5px 14px;
    }
    .send-icon{
        display: none;
    }
   
   
    /* section3 */
    .section3{
        width: 100%;
    }
    .beauty1{
     width: 100%;
     }
     .image{
        width: 100%;
    }
    .section3 p{
        font-size: 13px;
    }
    hr{
        width: 55%;
       }
       .socials{
        margin-top: 10px;
       }
    /* section4 */
    .section4{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        gap: 2%;
    }
    .wid{
        width: 49%;
        /* background-color: brown; */
    }
   
     .news{
        margin-top: -300px;
        margin-bottom: -400px;
        padding: 20px;
       }
     .mustread2{
        margin-top: -30px;
     }
     .mustread{
        margin-top: -60px;
     }     
     .modul{
        margin-top: -436px;
     }
     .sarahimg{
        width: 65%;
      }
     .modular img{
        margin-top: 0px;
        width: 65%;
        height: 68vh;
      }
    .stay{
        margin-top: 50px;
    }
    .sarahhead{
        margin-top: 10px;
    }
   
}

@media (max-width: 980px) {
    .news{
        margin-top: -250px;
       }
    .modul{
        margin-top: -400px;
     }
}

@media (max-width: 850px) {
    .news{
        margin-top: -200px;
       }
}


@media (max-width: 800px) {
    .socials button{
        display: none;
    }
    .socials{
        margin-bottom: 70px;
    }
    .news{
        margin-top: -250px;
        margin-bottom: -400px;
        padding: 20px;
       }
    hr{
        width: 84%;
       }
       .section1 h1{
        text-align: center;
       }
       .section1 div{
        background-color;
        justify-content: center;
        flex-direction: column;
        margin-left: 44%;
        margin-top: 20px;
    }
    .section1{
        flex-direction: column;   
    }
    .readmore{
        margin-right: 0px;
        width: fit-content;
        justify-content: end;
      }
      div .chev{
        width: fit-content;
        display: flex;
        flex-direction: row;
        margin: 20px;
       }
}


@media (max-width: 700px) {
    .news{
        margin-top: -200px;
       }
       .modul{
        margin-top: -356px;
     }
}
@media (max-width: 600px) {
    .nav2{
        display: none;
   }
   .mustread2{
    margin-top: 20px;
 }
 .mustread{
    margin-top: -60px;
 } 
}
@media (max-width: 505px) {
    .news{
        margin-top: -100px;
       }
       .modul{
        margin-top: -250px;
     }
}